.login-container {
  text-align: center;
  width: 18.75rem;
  margin: 3.125rem auto;
}

.login-form label {
  display: block;
  margin-bottom: 0.3125rem;
}

.login-form input {
  width: 90%;
  margin-bottom: 0.625rem;
}

.toggle-button {
  font-size: 0.8rem;
}
